.target {
    margin: 25px auto;
    width: 400px;
}

/*.target div.brdr{*/
/*    border-collapse: collapse;*/
/*}*/

.brdr {
    border: 2px solid black;
}

.num {
    background: black;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.flex {
    display: flex;
}

.base-silver-clr {
    background: #e7e7e8;
}

.w40 {
    width: 40px;
}

.w80 {
    width: 80px;
}

.m-side {
    margin: 0 5px;
}

.m-top {
    margin-top: 5px;
}

.h10 {
    height: 10px;
}

.h30 {
    height: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > div.num {
    position: relative;
    bottom: 15px;
    left: 5px;
}

.aside {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.aside > div.num {
    position: relative;
    bottom: 40px;
    right: calc(25px / 2);
}

.main__3 > div:nth-child(1) {
    height: 90px;
    margin: 5px;
}

.main__3 div.num {
    position: relative;
    top: 35px;
    left: 130px;
}

.main__4 {
    display: flex;
    justify-content: space-evenly;
}

.main__4 > div {
    width: 20%;
    margin: 10px 0;
}

.main__4 div.num {
    position: relative;
    left: 40px;
    top: 2px;
}

.main__5__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main__5 div.num {
    position: relative;
    top: 10px;
}

.main__5__wrap > div {
    width: 120px;
    margin: 5px;
}

.target-5 {
    height: 5px;
    width: 30px;
    margin: 5px auto;
}

.main__6 {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.main__6 > div {
    height: 20px;
}

.main__6 div.num {
    position: relative;
    bottom: 65px;
    left: 40px;
}

.main__7__content {
    margin: 5px;
}

.main__7 div.num{
    position: relative;
    left: 150px;
    bottom: 15px;
    z-index: 1;
}

.info {
    width: 25px;
    position: relative;
    left: 145px;
}

/*mar 5*/
