#header, #footer {
    height: 100px;
    background: #dcffad;
}

#menu {
    height: 400px;
    width: 25%;
    background: #ff9eff;
    margin-right: 5px;
}

.common {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: space-between;

    margin: 5px 0;
}

.wrap {
    height: 400px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post {
    width: 100%;
    height: 49%;
    background: #99e1ff;
}