.widgets{
    background: cornflowerblue;
    height: 100px;
}
.main{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.widget{
    height: 100px;
    width: 33%;
    background: deepskyblue;
}

.contact{
    height: 300px;
    background: cornflowerblue;
}