.header {
    background: #3854bf;
    height: 100px;
}

.main {
    display: flex;
    justify-content: space-between;

    margin: 5px 0;
}

.widget {
    height: 100px;
    width: 33%;
    background: #24397d;
}

.contact {
    height: 300px;
    background: #3854bf;
}

.txt {
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}