#header, #footer{
    height: 100px;
    background: yellow;
}

.main{
    display: flex;
    justify-content: space-between;
}

#menu{
    height: 400px;
    width: 25%;
    background: plum;
}

.wrap{
    height: 400px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post{
    width: 100%;
    height: 49%;
    background: aqua;
}

