.header {
    height: 100px;
    background: #2356ab;
}

.nav {
    height: 60px;
    background: #1c437b;
}

.wrap {
    display: flex;
}

.main {
    height: 300px;
    width: 70%;
    background: #02a1c8;
}

.aside {
    height: 300px;
    width: 30%;
    background: #596ab1;
}

.footer {
    background: #77c9e4;
    height: 60px;
}

.txt{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}