body {
    margin: 0;
    background: #02bed7;
    height: 800px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
}


.point {
    background: white;
    border-radius: 5px;
    width: 450px;
    margin: 10px;
    display: flex;
}

.point > i {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px;
    font-size: 30px;
    color: silver;
}

.point > div{
    padding-bottom: 5px;
}

.point > div > h3 {
    color: orange;
}

.txt {
    margin-bottom: 18px
}