body {
    background: #9f9f9f;
}

.flex {
    display: flex;
}

.base-black-color {
    background: #192e42;
}

.base-silver-color {
    background: #cbd5e0;
}

.brd-r {
    border-radius: 15px;
}

.w50 {
    width: 50px;
}

.w25 {
    width: 25px;
}
.w20{
    width: 20px;
}

.h5 {
    height: 5px;
}

.h10{
    height: 10px;
}
.head-block {
    height: 60px;
    width: 100px;
    border-radius: 5px;
}

.top-wrap {
    border: 2px solid deepskyblue;
    border-radius: 20px;
}

.top-wrap div.flex {
    justify-content: space-evenly;
}

.head-txt {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    margin: 20px 0;
}

.top-wrap__txt {
    margin: 5px 0 40px 0;
    justify-content: center;
}


.round{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: 20px;
}

.bottom-wrap{
    margin: 10px 0;
    justify-content: space-evenly;
    padding: 30px 0;
}

.bottom-wrap div.flex{
    justify-content: center;
    column-gap: 5px;
    margin: 5px 0;
}

.bottom-wrap > div:nth-child(2){
    border: 1px solid deepskyblue;
    /*padding-bottom: 20px;*/
    padding: 20px 30px 30px;
}

