.txt{
    color: snow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    justify-content: space-between;
}

.header > div {
    height: 400px;
    width: 48%;
    background: #3854bf;
}

.main{
    height: 200px;
    background: #3854bf;
    margin: 5px 0;
}

.footer{
    display: flex;
    justify-content: space-between;
}

.footer > div {
    height: 200px;
    width: 33%;
    background: #24397d;
}