.cart {
    width: 30%;
    height: 300px;
    border: 1px solid silver;
    box-sizing: border-box;
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.wrap{
    display: flex;
    justify-content: space-evenly;
}

.round{
    background: white;
    border: 1px solid #9a9a9a;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: relative;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round > i {
    font-size: 40px;
    color: #ff6002;
}

.txt {
    text-align: center;
    color: #9a9a9a;
}

.btn {
    width: 70%;
    border: 1px solid black;
    text-align: center;
    padding: 10px 0;
    margin: 30px 0 ;
}